@import url("https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 900px;
}
.topHeader {
  background: url("https://assets.hongkiat.com/uploads/ww-falling-stars-meteors-wallpapers/4k/original/18.jpg");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
.topHeader .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.h1text {
  font-family: "Sassy Frass", cursive;
  /* font-family: "Dancing Script", cursive; */
  font-size: 120px;
  margin-bottom: 30px;
}

.h3text {
  font-family: "Sassy Frass", cursive;
  font-size: 30px;
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover {
  cursor: pointer;
}
